{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>Happy Birthday</title>
<meta name="description" content="Thoughts, reviews and ideas since 1999."/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="shortcut icon" href="#">
<link rel="stylesheet" type="text/css" href="{% static 'project/screen.css' %}"/>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,700,700italic|Playfair+Display:400,700,400italic,700italic"/>
</head>
<body class="post-template">
<div class="site-wrapper">
	<nav class="main-nav overlay clearfix">
	<a class="blog-logo" href="{% url 'article1%' }"></a>
	<ul id="menu">
		<li class="nav-home nav-current" role="presentation"><a href="{% url 'article1' %}">Home</a></li>
	</ul>
	</nav>
	<header class="main-header post-head " style="background-image: url({% static 'project/images/random.jpg' %})">
	<div class="vertical">
		<div class="main-header-content inner">
			<h1 class="post-title">Thanks For being there!</h1>
			<div class="entry-title-divider">
				<span></span><span></span><span></span>
			</div>
		</div>
	</div>
	</header>
	<main id="content" class="content" role="main">
	<div class="wraps">
		<img src="assets/img/shadow.png" class="wrapshadow">
		<article class="post featured">
		<section class="post-content">
		<p>
			It is great to know that people like are you present in this world and will ensure to remind people that there are positive aspects to everything.     
		</p>
		<p>
			<em>It wont be enough to say this but </em>
		</p>
		<p>
			<strong>Thanks for being there and for being a friend I needed </strong>
		</p>
		<p>
			I will try my best to not to let you down and wish you all the best. ENJOY EVERY MOMENT AND CHERISH EVERY MEMORY.  
		</p>
		<p>
			Clever, secretive and daring to know....but can't help being drawn to the magnetic personality. Parul Goyal, enjoy your day and dont scare off people with your swag.
Have a BLASTING day ! Happy Birthday !
		</p>
		<header class="post-header">
			<h2 class="post-title"><a href="#">End.</a></h2>
			</header>
		</section>
		</article>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="assets/js/masonry.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.fitvids.js"></script>
<script type="text/javascript" src="assets/js/index.js"></script>
</body>
</html>