{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Happy Birthday!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="some keywords that best describe your business">
	<meta name="description" content="a short description of your company">
	<meta name="author" content="SRPACDY">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" href="{% static 'project/css/bootstrap.css' %}" type="text/css" media="screen">
	<link rel="stylesheet" href="{% static 'project/css/bootstrap-theme.css' %}" type="text/css" media="screen">
	<link rel="stylesheet" href="{% static 'projectcss/layout.css' %}" type="text/css" media="screen">
	<link rel="stylesheet" href="{% static 'project/css/background.css' %}" type="text/css" media="screen">
	<link rel="stylesheet" href="{% static 'project/css/font-awesome.min.css' %}" type="text/css" media="screen">
	<link rel="shortcut icon" href="{% static 'project/images/favicon.ico' %}">

</head>
<body>

<div class="header bg">
	<div class="container">
		<div class="row">
			<header class="col-xs-12 text-center">
				<div class="logo">
				<!--	<a href="#"><img src="#"></a>  --> 
					<h1>Party begins in</h1>
					<ul class="time">
						<li>
							<span class="days" id="days"></span><br />
							Days
						</li>
						<li>
							<span class="hours"></span><br />
							Hours
						</li>
						<li>
							<span class="minutes"></span><br />
							Minutes
						</li>
						<li>
							<span class="seconds"></span><br />
							Seconds
						</li>
					</ul>
				</div>
			</header>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center">
				<div class="down">
					<p id="demo"></p>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
var element_id = "my_div" ; //namew of div or object that you want the link to appear in (Div is best)
var time = 3; //time in seconds until display
setTimeout(function(){document.getElementById(element_id).innerHTML = link_text},time*1000)
</script>


	<script type="text/javascript" src="{% static 'project/js/jquery-1.11.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'project/js/scroll.js' %}" charset="utf-8"></script>
	<script type="text/javascript" src="{% static 'project/js/jquery.countdown.js' %}" charset="utf-8"></script>
	<script type="text/javascript" src="{% static 'project/js/countdown.js' %}" charset="utf-8"></script>
	<script type="text/javascript" src="{% static 'project/js/supersized.3.2.7.js' %}" charset="utf-8"></script>
	<script type="text/javascript" src="{% static 'project/js/images.js' %}" charset="utf-8"></script>
	<script type="text/javascript" src="{% static 'project/js/form.js' %}" charset="utf-8"></script>

</body>
</html>
